
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/// =======
/// Variable
/// =======
$maincolor: black;
$contrastcolor: white;

//==
// Mixin
//==

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

//==
//Header
//==
.nav{
  @include white-text-black-bg();
  display: flex;
  justify-content: center;

  a{
    @include white-text-black-bg();
    text-decoration: none;
    div{
      margin: 10px;
      font-size: large;
    }
  }
}

@media (min-width: 768px) {
  .nav{
    justify-content: flex-start;
  }
}

.person-image{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}